- meta_tag :title, 'Welcome Title'
- meta_tag :description, 'Welcome Description'
- meta_tag :keywords, 'welcome keywords'

h1 Welcome#index
p Find me in app/views/welcome/index.html.slim

hr/

h3 Built with Skeletor Template
br/
= image_tag "skeletor-hooray.gif"