- flash.each do |key, value|
  = content_tag(:div, value, class: "alert alert-#{key}")

/ - if user_signed_in?
/   | Logged in as #{current_user.email}
/   = link_to "sign out", destroy_user_session_path, method: :delete

/ - else
/   => link_to "sign up", new_user_registration_path
/   | or
/   =< link_to "sign in", new_user_session_path
