doctype html
html lang="en"
  head
    meta charset="utf-8" /
    meta http-equiv="x-ua-compatible" content="ie=edge" /

    = display_meta_tag :title, "Skeletor example"
    = display_meta_tag :description, "Skeletor example Description"
    = display_meta_tag :keywords, "Skeletor example keywords"
    = display_meta_tag :viewport, "width=device-width, initial-scale=1"

    / meta name="viewport" content="width=device-width, initial-scale=1"
    link rel="apple-touch-icon" href="apple-touch-icon.png"

    = stylesheet_link_tag :application, media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags

  body data-controller="#{controller.controller_path}" data-action="#{controller.action_name}"
    = render "header"
    = yield
    = render "footer"

    = render "javascript"